<section class="landing-page">
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../../assets/images/check_box_outline_blank_FILL0_wght400_GRAD0_opsz24.svg"
          alt="logo-image"
        />
        Acme
      </a>
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="section1">
    <h1 class="text-white">Unlock Your Startup's Potential</h1>
    <p class="mt-2 text-white">
      Discover the tools and resources to help your startup thrive in today's
      competitive landscape.
    </p>
    <button type="button" class="btn btn-light section1-btn mt-2 text-blue">
      Learn more
    </button>
  </section>
  <section class="section2">
    <div class="section2-left">
      <span class="text-blue rounded-3">Key Features</span>
      <h2>Empower Your Startup</h2>
      <p class="mt-2">
        Our startup platform provides the tools and resources you need to take
        your business to the next level.
      </p>
      <div class="section2-left-features">
        <div class="section2-left-features-item">
          <svg
            class="icon-blue"
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            viewBox="0 -960 960 960"
            width="32"
          >
            <path
              d="m226-559 78 33q14-28 29-54t33-52l-56-11-84 84Zm142 83 114 113q42-16 90-49t90-75q70-70 109.5-155.5T806-800q-72-5-158 34.5T492-656q-42 42-75 90t-49 90Zm178-65q-23-23-23-56.5t23-56.5q23-23 57-23t57 23q23 23 23 56.5T660-541q-23 23-57 23t-57-23Zm19 321 84-84-11-56q-26 18-52 32.5T532-299l33 79Zm313-653q19 121-23.5 235.5T708-419l20 99q4 20-2 39t-20 33L538-80l-84-197-171-171-197-84 167-168q14-14 33.5-20t39.5-2l99 20q104-104 218-147t235-24ZM157-321q35-35 85.5-35.5T328-322q35 35 34.5 85.5T327-151q-25 25-83.5 43T82-76q14-103 32-161.5t43-83.5Zm57 56q-10 10-20 36.5T180-175q27-4 53.5-13.5T270-208q12-12 13-29t-11-29q-12-12-29-11.5T214-265Z"
            />
          </svg>
          <h3>Rapid Growth</h3>
          <p>Accelerate your startup's growth with our proven strategies.</p>
        </div>
        <div class="section2-left-features-item">
          <svg
            class="icon-blue"
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            viewBox="0 -960 960 960"
            width="32"
          >
            <path
              d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm0-80h640v-440H160v440Zm240-520h160v-80H400v80ZM160-200v-440 440Z"
            />
          </svg>
          <h3>Expert Guidance</h3>
          <p>
            Leverage our experienced team to navigate the startup landscape.
          </p>
        </div>
        <div class="section2-left-features-item">
          <svg
            class="icon-blue"
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            viewBox="0 -960 960 960"
            width="32"
          >
            <path
              d="M240-240h177v-133h103v-133h103v-134h97v-80H543v133H440v133H337v134h-97v80Zm-40 120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
            />
          </svg>
          <h3>Scalable Solutions</h3>
          <p>Grow your startup with our scalable and flexible solutions.</p>
        </div>
        <div class="section2-left-features-item">
          <svg
            class="icon-blue"
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            viewBox="0 -960 960 960"
            width="32"
          >
            <path
              d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"
            />
          </svg>
          <h3>Cost-Effective</h3>
          <p>Maximize your budget with our affordable startup services.</p>
        </div>
      </div>
    </div>
    <div class="section2-right">
      <img
        class="section2-right-image"
        src="../../assets/images/undraw_powerful_re_frhr.svg"
        alt="placeholder"
      />
    </div>
  </section>
  <section class="section3">
    <div class="section3-left">
      <span class="bg-purple-badge text-white rounded-3">Success Stories</span>
      <h2 class="text-white">Hear From Our Customers</h2>
      <p class="text-white">
        Learn how our startup platform has helped other businesses achieve their
        goals.
      </p>
      <div class="section3-left-cards mt-3">
        <div class="section3-right-cards-item p-3 bg-white rounded-3">
          <svg
            class="icon-purple"
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            viewBox="0 -960 960 960"
            width="32"
          >
            <path
              d="m228-240 92-160q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T458-480L320-240h-92Zm360 0 92-160q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T818-480L680-240h-92ZM320-500q25 0 42.5-17.5T380-560q0-25-17.5-42.5T320-620q-25 0-42.5 17.5T260-560q0 25 17.5 42.5T320-500Zm360 0q25 0 42.5-17.5T740-560q0-25-17.5-42.5T680-620q-25 0-42.5 17.5T620-560q0 25 17.5 42.5T680-500Zm0-60Zm-360 0Z"
            />
          </svg>
          <p>
            "Acme Startup's platform has been a game-changer for our business.
            The tools and resources have helped us scale quickly and
            efficiently."
          </p>
          <div class="section3-right-cards-item-customer">
            <img
              class="rounded-circle"
              src="../../assets/images/placeholder (1).svg"
              width="40"
              height="40"
              alt="logo"
            />
            <h4>John Doe</h4>
            <p>CEO, Acme Inc.</p>
          </div>
        </div>
        <div class="section3-right-cards-item p-3 bg-white rounded-3">
          <svg
            class="icon-purple"
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            viewBox="0 -960 960 960"
            width="32"
          >
            <path
              d="m228-240 92-160q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T458-480L320-240h-92Zm360 0 92-160q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 23-5.5 42.5T818-480L680-240h-92ZM320-500q25 0 42.5-17.5T380-560q0-25-17.5-42.5T320-620q-25 0-42.5 17.5T260-560q0 25 17.5 42.5T320-500Zm360 0q25 0 42.5-17.5T740-560q0-25-17.5-42.5T680-620q-25 0-42.5 17.5T620-560q0 25 17.5 42.5T680-500Zm0-60Zm-360 0Z"
            />
          </svg>
          <p>
            "Acme Startup's platform has been a game-changer for our business.
            The tools and resources have helped us scale quickly and
            efficiently."
          </p>
          <div class="section3-right-cards-item-customer">
            <img
              class="rounded-circle"
              src="../../assets/images/placeholder (1).svg"
              width="40"
              height="40"
              alt="logo"
            />
            <h4>John Doe</h4>
            <p>CEO, Acme Inc.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section3-right">
      <img
        class="section3-right-image"
        src="../../assets/images/undraw_Interview_re_e5jn.png"
        alt="placeholder"
      />
    </div>
  </section>
  <section class="pricing">
    <div class="pricing-left">
      <span class="text-blue rounded-3">Pricing</span>
      <h2>Affordable Startup Solutions</h2>
      <p class="mt-2">
        Our startup platform offers flexible pricing options to fit your budget
        and needs.
      </p>
      <div class="pricing-left-prices">
        <div class="pricing-left-prices-item shadow-sm">
          <h3>Starter</h3>
          <p class="fs-1 fw-bold">$29</p>
          <p>per month</p>
          <li class="list-unstyled">
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">5 projects</span>
            </ul>
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">Basic support</span>
            </ul>
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">1GB storage</span>
            </ul>
          </li>
          <button type="button" class="btn bg-blue text-white">
            Get Started
          </button>
        </div>
        <div class="pricing-left-prices-item shadow-sm">
          <h3>Starter</h3>
          <p class="fs-1 fw-bold">$29</p>
          <p>per month</p>
          <li class="list-unstyled">
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">5 projects</span>
            </ul>
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">Basic support</span>
            </ul>
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">1GB storage</span>
            </ul>
          </li>
          <button type="button" class="btn bg-blue text-white">
            Get Started
          </button>
        </div>
        <div class="pricing-left-prices-item shadow-sm">
          <h3>Starter</h3>
          <p class="fs-1 fw-bold">$29</p>
          <p>per month</p>
          <li class="list-unstyled">
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">5 projects</span>
            </ul>
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">Basic support</span>
            </ul>
            <ul class="list-group-item">
              <svg
                class="icon-blue pe-2"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"
                />
              </svg>
              <span class="ps-0">1GB storage</span>
            </ul>
          </li>
          <button type="button" class="btn bg-blue text-white">
            Get Started
          </button>
        </div>
      </div>
    </div>
    <div class="pricing-right">
      <img
        class="pricing-right-image"
        src="../../assets/images/undraw_powerful_re_frhr.svg"
        alt="placeholder"
      />
    </div>
  </section>
  <section class="footer"></section>
</section>
